.deposits_filters {
    padding: 0 0 15px 0;
}
.deposits_filters select {
    margin-right: 15px;
    font-size: 16px;
}
.deposits_filters span {
    font-size: 16px;
    margin-right: 5px;
    font-family: "Source Code Pro", monospace;
    
}

.deposits_table {
    width: 100%;
    border: 1px solid #fff;
}

.deposits_table th   {
    padding: 5px 0 5px 0;
    border: 1px solid #fff;
}


thead > tr {
    background-color: #161616;
    color: #fff;
}

