.form_box, .iphone_screen {
    flex-direction: column;
}


.enter_data_btn {
    background-color: orange;
}

.iphone_screen {
    position: relative;
    top: 200px;
    color: #fff;
    float: none;
    width: 1170px;
    height: 2532px;
    box-sizing: border-box;
    background-image: url("../images/position/test_tp.png");
    background-position: center;
}

.top_bar {
}


.iphone_time {
    position: absolute;
    top: 48px;
    left: 127px;
    
    font-family: "Inter", sans-serif;
    font-size: 50px;
    letter-spacing: 0px;
    font-weight: 500;
}

.iphone_icons {
    position: absolute;
    top: 50px;
    right: 70px;
    
    width: 250px;
    height: 47px;
    
    background-position: center;
    
    background-repeat: no-repeat;
    
    background-image: url(../images/icons/50.png);
    background-size: contain;
}




.position {
    height: 925px;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
}

.position_header {
    position: absolute;
    top: 749px;
    left: 97px;
    display: flex;
    align-items: center;
}

.coin_name {
    font-size: 47px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.coin_name, .longshort, .leverage {
    font-family: "IBM Plex Sans", sans-serif;
}

.longshort {
    display: inline-block;
    margin-left: 15px;
    height: 54px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
    text-align: center;
    /*background-color: #1A2C27;*/
    color: #20B26C;
    font-size: 30px;
    line-height: 54px;
    letter-spacing: 0.1px;
    font-weight: 400;
}

.leverage {
    display: inline-block;
    height: 54px;
    margin-left: 14px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 10px;
    background-color: #2A251B;
    color: #F7A601;
    font-size: 30px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.1px;
}

.position_body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.position_body > span {
    position: absolute;
    right: 98px;
    width: 100%;
    text-align: right;
    font-size: 35px;
    font-family: "IBM Plex Sans", sans-serif;
    letter-spacing: 0.45px;
    font-weight: 500;
}

.position_size {
    color: #20B26C;
    top: 890px;
}

.entry_price {
    top: 975px;
}
.mark_price {
    top: 1061px;
}
.liq_price {
    top: 1146px;
    color: #F7A601;
}
.value {
    top: 1232px;
}
.unr_pnl {
    top: 1316px;
    /*color: #42A17F;*/
    color: #20B26C;
}
.unr_pnl_rounded {
    top: 1364px;
    /*color: #42A17F;*/
    color: #20B26C;
}
.r_pnl {
    top: 1448px;
    /*color: #CD5C61;*/
    color: #EF4549;
}
.r_pnl_rounded {
    top: 1496px;
    /*color: #CD5C61;*/
    color: #EF4549;
}
.margin {
    top: 1700px;
}

/* Строка со значением тейка */
.tp {
    top: 1809px;
    right: 156px !IMPORTANT;
}
/* Надпись загрушка при отсутствии указанного тейка*/
.tp_plug {
    top: 1809px;
    right: 156px !IMPORTANT;
    letter-spacing: 1px !IMPORTANT;
    opacity: 0;
}

.tp > span {
    position: absolute;
}
/* надпись + значение */
.tp > span:nth-child(1) {
    right: 362px;
    letter-spacing: 0.7px;
}
/* Надпись Entire Position */
.tp > span:nth-child(1) > span:nth-child(1) {
    
}
/* Зеленое значение тейка */
.tp > span:nth-child(1) > span:nth-child(2) {
    margin-left: 2px;
    color: #20B26C;
}
/* Слеш-разделитель */
.tp > span:nth-child(2) {
    right: 349px;
    font-weight: 200;
}
/* Два красных тире */
.tp > span:nth-child(3) {
    right: 320px;
    color: #EF4549;
}
/* Надпись Partial Position */
.tp > span:nth-child(4) {
    right: 0px;
    letter-spacing: 0.9px;
}
