.screenshots_type_select span {
    font-size: 18px;
    margin-right: 15px;
    font-weight: 500;
}
.screenshots_type_select button {
    margin-right: 15px;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
}


