.signals_page {
    display: flex;
}
.signals_page_left {
    width: calc(570% - 10px);
    float: left;
    margin-right: 10px;
}
.signals_page_right {
    width: calc(30% - 10px);
    float: right;
    margin-left: 10px
}

.signals_list {
    overflow-y: auto;
    height: calc(100vh - 90px);
    
    display: grid;
    grid-template-columns: repeat(4, 23%);
    column-gap: 20px;
    
    
    
}
.signal {
    margin-bottom: 10px;
    color: #fff;
    font-weight: 700;
    background-color: #161616;
    
}
.signal_header {
    background-color: #161616;
    color: #fff;
    padding: 5px 20px 5px 20px;
}
.signal_body {
    padding: 20px;
}
.signal_body span {
    margin-bottom: 5px;
    display: block;
}
.signal_footer {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding: 5px 20px 5px 20px;

}
.signal_footer button {
    float: right;
    margin-right: 10px;
}

