.form_box {
    width: 500px;
    margin-top: 10px;
    flex-direction: column;
    padding: 30px 30px 30px 30px;
    font-family: Arial;
    color: #ccd6f6;
    display: flex;
    font-family: "Roboto", sans-serif;
    align-items: flex-start;
}

.form_box > div {
    float: left;
    margin-bottom: 15px;
    background-color: #161616;
    padding: 5px 10px 5px 10px;
}

.form_box input, .form_box select {
    all: unset;
    margin-left: 10px;
    padding: 0 5px 0 5px;
    font-size: 20px;
    background-color: #161616;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.form_box > div > label:nth-child(1) {
    font-size: 22px;
    color: #fff;
    font-weight: 300;
}