.form_box {
    margin-top: 10px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 40px;
    padding-bottom: 50px;
    flex-direction: column;
    font-family: Arial;
    background-color: #161616;
    color: #ccd6f6;
    display: flex;
    font-family: "Roboto", sans-serif;
    align-items: center;
}

.form_box > div {
    margin-bottom: 15px;
}

.form_box input, .form_box select {
    all: unset;
    margin-left: 10px;
    padding: 0 5px 0 5px;
    font-size: 20px;
    background-color: #161616;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.form_box > div > label:nth-child(1) {
    font-size: 22px;
    color: #fff;
    font-weight: 300;
}