.form_box {
    width: 600px;
    margin-top: 10px;
    flex-direction: column;
    padding: 30px 30px 30px 30px;
    display: flex;
    align-items: flex-start;
    background-color: #161616;
}

.form_box > div {
    float: left;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
}

.form_box input {
    all: unset;
    margin-left: 10px;
    padding: 0 5px 0 5px;
    font-size: 20px;
    border-bottom: 1px solid #fff;
    color: #161616;
}
.form box select {
    font-size: 20px;
}

.form_box > div > label:nth-child(1) {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}
.form_box > div > label:nth-child(2) {
    color: #000;
}